body {

    background-color: rgb(212, 194, 161);

}

h1 {

    color: rgb(89, 55, 30);
}

body {

    font-family:Georgia, 'Times New Roman', Times, serif
}

p {
    color: rgb(89, 55, 30);
    background-color: rgb(187, 157, 105);
}

h2 {

    text-transform: capitalize;
}

li {

    margin: 2em;
}

a {
    color: rgb(89, 55, 30);
    text-decoration: none;
}